@{
    ViewData["Title"] = "Home Page";
}
@model Prueba.Web.Models.IndexModel

<div class="text-center">
    <h1 class="display-4">@Model.PersonaNombre.Nombre @Model.PersonaNombre.Apellido</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
